In [1]:
import pandas as pd
import numpy as np

In [2]:
tmp_data = pd.read_csv('np-ratings.csv')

In [3]:
tmp_data

,260: Star Wars: Episode IV - A New Hope (1977),1210: Star Wars: Episode VI - Return of the Jedi (1983),356: Forrest Gump (1994),"318: Shawshank Redemption, The (1994)","593: Silence of the Lambs, The (1991)",3578: Gladiator (2000),1: Toy Story (1995),2028: Saving Private Ryan (1998),296: Pulp Fiction (1994),1259: Stand by Me (1986),2396: Shakespeare in Love (1998),2916: Total Recall (1990),780: Independence Day (ID4) (1996),541: Blade Runner (1982),1265: Groundhog Day (1993),"2571: Matrix, The (1999)",527: Schindler's List (1993),"2762: Sixth Sense, The (1999)",1198: Raiders of the Lost Ark (1981),34: Babe (1995)
0,1.0,5.0,2.0,NaN,4.0,4.0,2.0,2.0,NaN,3.0,2.0,NaN,5.0,2.0,NaN,4.0,2.0,5.0,NaN,NaN
1,5.0,3.0,NaN,2.0,4.0,2.0,1.0,NaN,NaN,4.0,3.0,2.0,2.0,NaN,2.0,NaN,5.0,1.0,3.0,NaN
2,NaN,NaN,NaN,5.0,2.0,NaN,4.0,NaN,NaN,1.0,NaN,1.0,4.0,4.0,1.0,1.0,2.0,3.0,1.0,3.0
3,NaN,3.0,NaN,NaN,NaN,1.0,2.0,3.0,4.0,NaN,NaN,4.0,1.0,3.0,5.0,NaN,5.0,1.0,1.0,2.0
4,4.0,3.0,4.0,1.0,4.0,1.0,NaN,4.0,NaN,1.0,5.0,1.0,NaN,4.0,NaN,3.0,5.0,5.0,NaN,NaN
5,2.0,4.0,4.0,4.0,NaN,NaN,3.0,1.0,4.0,4.0,5.0,2.0,4.0,NaN,1.0,NaN,NaN,3.0,NaN,2.0
6,NaN,NaN,3.0,1.0,1.0,4.0,NaN,5.0,2.0,NaN,1.0,NaN,NaN,3.0,NaN,1.0,NaN,NaN,5.0,2.0
7,4.0,NaN,NaN,NaN,3.0,2.0,2.0,NaN,3.0,NaN,NaN,2.0,3.0,2.0,4.0,NaN,1.0,3.0,5.0,NaN
8,5.0,1.0,NaN,4.0,2.0,4.0,4.0,4.0,NaN,1.0,2.0,3.0,1.0,NaN,5.0,NaN,NaN,NaN,NaN,5.0
9,4.0,2.0,NaN,5.0,3.0,NaN,4.0,3.0,4.0,NaN,NaN,NaN,2.0,NaN,NaN,2.0,5.0,1.0,NaN,NaN
10,2.0,1.0,5.0,NaN,NaN,5.0,5.0,NaN,NaN,NaN,NaN,3.0,2.0,NaN,NaN,1.0,NaN,2.0,1.0,4.0
11,3.0,5.0,2.0,NaN,2.0,NaN,2.0,NaN,1.0,NaN,3.0,NaN,3.0,NaN,2.0,5.0,NaN,NaN,NaN,2.0
12,2.0,3.0,NaN,5.0,4.0,NaN,4.0,5.0,NaN,NaN,NaN,2.0,4.0,NaN,3.0,NaN,NaN,NaN,5.0,NaN
13,3.0,NaN,3.0,NaN,2.0,NaN,3.0,NaN,NaN,4.0,NaN,1.0,2.0,2.0,3.0,5.0,1.0,NaN,NaN,NaN
14,4.0,4.0,NaN,NaN,5.0,5.0,2.0,NaN,3.0,5.0,NaN,1.0,3.0,NaN,2.0,NaN,3.0,NaN,3.0,1.0
15,NaN,NaN,1.0,NaN,3.0,2.0,NaN,2.0,NaN,1.0,5.0,NaN,NaN,NaN,5.0,2.0,2.0,4.0,3.0,4.0
16,NaN,NaN,NaN,NaN,4.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN
17,4.0,5.0,1.0,5.0,1.0,1.0,4.0,NaN,5.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,2.0,1.0,2.0,5.0
18,5.0,1.0,NaN,NaN,NaN,4.0,2.0,1.0,3.0,3.0,3.0,1.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN
19,1.0,2.0,2.0,4.0,5.0,NaN,2.0,3.0,2.0,2.0,1.0,NaN,NaN,5.0,5.0,4.0,3.0,5.0,3.0,NaN

In [24]:
pd.DataFrame(tmp_data.mean(), columns=['mean']).sort_values(by='mean', ascending=False)[:3]

                                                    mean
318: Shawshank Redemption, The (1994)           3.600000
260: Star Wars: Episode IV - A New Hope (1977)  3.266667
541: Blade Runner (1982)                        3.222222

In [31]:
pd.DataFrame(tmp_data.count(), columns=['count']).sort_values(by='count', ascending=False)[:3]

                                                count
1: Toy Story (1995)                                17
593: Silence of the Lambs, The (1991)              16
260: Star Wars: Episode IV - A New Hope (1977)     15

In [36]:
pd.DataFrame(tmp_data[tmp_data >= 4].count(), columns=['GT_4']).sort_values(by='GT_4', ascending=False)[:3]

                                                GT_4
260: Star Wars: Episode IV - A New Hope (1977)     8
318: Shawshank Redemption, The (1994)              7
593: Silence of the Lambs, The (1991)              7