In [1]:
## !conda install -c conda-forge scikit-surprise

import surprise
import pandas as pd

In [2]:
data = surprise.Dataset.load_builtin('ml-100k')

## 무비렌즈 데이터 로드

In [3]:
df = pd.DataFrame(data.raw_ratings, columns=["user", "item", "rate", "id"])
del df["id"]
df.head(10)

  user item  rate
0  196  242   3.0
1  186  302   3.0
2   22  377   1.0
3  244   51   2.0
4  166  346   1.0
5  298  474   4.0
6  115  265   2.0
7  253  465   5.0
8  305  451   3.0
9    6   86   3.0

In [4]:
df_table = df.set_index(["user", "item"]).unstack()
df_table.shape

(943, 1682)

In [5]:
df_table.iloc[212:222, 808:817].fillna("")

     rate
item  211 212 213 214 215 216 217 218 219
user
290     3                   4       2
291         4       4   4           4   4
292                 3
293     4       3       4   4   3   2
294
295             5       5   5   4   5
296     4
297     4       3       2   4       3
298     5       3       5
299     4   4   5           5

# CF기반 모델 적용

- 알고리즘과 loss 함수를 지정하여 MF 연산

In [6]:
from surprise.model_selection import cross_validate

In [7]:
sim_options = {'name': 'msd'}
algo = surprise.KNNBasic(sim_options=sim_options)
cross_validate(algo, data)["test_mae"].mean()

Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.

0.7730077522533328

In [8]:
sim_options = {'name': 'cosine'}
algo = surprise.KNNBasic(sim_options=sim_options)
cross_validate(algo, data)["test_mae"].mean()

Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.

0.8043029769190715

In [9]:
tmp = cross_validate(algo, data)

Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.

In [10]:
tmp

{'test_rmse': array([1.01743473, 1.01524083, 1.02518264, 1.01573558, 1.01102993]),
 'test_mae': array([0.80591253, 0.80267835, 0.81014781, 0.80355021, 0.79891673]),
 'fit_time': (2.0510239601135254,
  2.0490264892578125,
  2.0884156227111816,
  2.612706422805786,
  2.2445106506347656),
 'test_time': (4.523901462554932,
  4.342892646789551,
  4.562814474105835,
  4.650674343109131,
  4.758190393447876)}